:root {
  --background: oklch(100% 0 0deg);
  --foreground: oklch(9.2% 0 0deg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(3.7% 0 0deg);
    --foreground: oklch(92.9% 0 0deg);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.img-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .img-light {
    display: none;
  }

  .img-dark {
    display: unset;
  }
}
