name: Tests

on:
  pull_request:
    branches: ["*"]

jobs:
  tests:
    runs-on: ubuntu-latest
    name: pnpm test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: pnpm setup
        uses: ./.github/actions/pnpm-setup

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test
